$size-font-xs: 0.75rem;
$size-font-sm: 0.875rem;
$size-font-md: 1rem;
$size-font-lg: 1.125rem;
$size-font-xl: 1.25rem;
$size-font-2xl: 1.5rem;

$breakpoint-xs: 360px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-2xl: 1400px;
